<div class="roles-assign-panel">
    <div class="title" style="grid-row: 1 / 2; grid-column: 1 / 2">
        <h4><%= __t(locale, 'f9aae5fda8d810a29f12d1e61b4ab25f'/*Users*/) %></h4>
    </div>
    <div class="title" style="grid-row: 1 / 2; grid-column: 2 / 3">
        <h4><%= __t(locale, '7cc2d2e46cec80108de65235b279edeb'/*User Roles*/) %></h4>
    </div>
    <div class="master-list" style="grid-row: 2 / 3; grid-column: 1 / 2">
        <div class="header" style="grid-column: 1 / 2">
            ID
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, 'f6039d44b29456b20f8f373155ae4973'/*Username*/) %>
        </div>
        <!-- ko foreach: users -->
        <div class="item" data-bind="click: select, css: { curr: is_current }, style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: short_id"></span>
        </div>
        <div class="item" data-bind="click: select, css: { curr: is_current }, style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: username"></span>
        </div>
        <!-- /ko -->
    </div>
    <div class="details-list" style="grid-row: 2 / 3; grid-column: 2 / 3">
        <div class="header" style="grid-column: 1 / 2">
            #
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, 'c1228dde877833893394a57c585e90e4'/*Role Name*/) %>
        </div>
        <div class="header" style="grid-column: 3 / 4">
            <%= __t(locale, 'b9f5c797ebbf55adccdd8539a65a0241'/*Disabled*/) %>
        </div>
        <div class="header" style="grid-column: 4 / 5">
            <!-- ko if: curr_user() -->
            <a href="#" data-bind="click: curr_user().add_role" title="<%= __t(locale, '4b5ee8e55f7e35f03ea85fcbb4ebe36b'/*Add a role to the user ...*/) %>">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: curr_user() -->
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <!-- /ko -->
        </div>
        <!-- ko if: curr_user() -->
        <!-- ko foreach: curr_user().roles -->
        <div class="item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: id"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: rolename"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }" style="text-align: center">
             <input type="checkbox" data-bind="checked: disabled"></input>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
             <a href="#" data-bind="click: () => { remove() }" title="<%= __t(locale, '73398e4d22e434735b641c50e1b7945a'/*delete ...*/) %>">
                 <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
             </a>
        </div>
        <!-- /ko -->
        <!-- ko with: curr_user -->
        <!-- ko if: adding_role -->
        <div class="new-item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }">
            &nbsp;
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }">
            <select data-bind="options: roles_available, value: role_selected, optionsText: 'name', optionsCaption: '<%= __t(locale, '20f780b43ad6af00a8c7ac81833311b1'/*select one ...*/) %>'"></select>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }" style="text-align: right">
             <a href="#" data-bind="click: cancel_role" title="<%= __t(locale, '22952fafd4cacf82adad93017f8ecbdb'/*cancel ...*/) %>">
                 <i class="fa fa-undo" aria-hidden="true"></i>
             </a>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }">
             <a href="#" data-bind="click: submit_role" title="<%= __t(locale, 'd58a9ad28ec2bf702ba02b53dc11ad08'/*add to the list ...*/) %>">
                 <i class="fa fa-arrow-up" aria-hidden="true"></i>
             </a>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="title" style="grid-row: 3 / 4; grid-column: 1 / 2">
        <h4><%= __t(locale, 'a5cd3ed116608dac017f14c046ea56bf'/*Roles*/) %></h4>
    </div>
    <div class="title" style="grid-row: 3 / 4; grid-column: 2 / 3">
        <h4><%= __t(locale, 'da0744e5dcc88bda7cd540a2d52ec203'/*Role Users*/) %></h4>
    </div>
    <div class="master-list" style="grid-row: 4 / 5; grid-column: 1 / 2">
        <div class="header" style="grid-column: 1 / 2">
            #
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, 'c1228dde877833893394a57c585e90e4'/*Role Name*/) %>
        </div>
        <!-- ko foreach: roles -->
        <div class="item" data-bind="click: select, css: { curr: is_current }, style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: id"></span>
        </div>
        <div class="item" data-bind="click: select, css: { curr: is_current }, style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: name"></span>
        </div>
        <!-- /ko -->
    </div>
    <div class="details-list" style="grid-row: 4 / 5; grid-column: 2 / 3">
        <div class="header" style="grid-column: 1 / 2">
            #
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, 'f6039d44b29456b20f8f373155ae4973'/*Username*/) %>
        </div>
        <div class="header" style="grid-column: 3 / 4">
            <%= __t(locale, 'b9f5c797ebbf55adccdd8539a65a0241'/*Disabled*/) %>
        </div>
        <div class="header" style="grid-column: 4 / 5">
            <!-- ko if: curr_role() -->
            <a href="#" data-bind="click: curr_role().add_user" title="<%= __t(locale, '09935c0c8614ecb0275a85cab1191672'/*Add a user to the role ...*/) %>">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: curr_role() -->
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <!-- /ko -->
        </div>
        <!-- ko if: curr_role() -->
        <!-- ko foreach: curr_role().users -->
        <div class="item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: id"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: username"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }" style="text-align: center">
             <input type="checkbox" data-bind="checked: disabled"></input>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
             <a href="#" data-bind="click: () => { remove() }" title="<%= __t(locale, '73398e4d22e434735b641c50e1b7945a'/*delete ...*/) %>">
                 <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
             </a>
        </div>
        <!-- /ko -->
        <!-- ko with: curr_role -->
        <!-- ko if: adding_user -->
        <div class="new-item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': (users().length + 2) + ' / ' + (users().length + 3) }">
            &nbsp;
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': (users().length + 2) + ' / ' + (users().length + 3) }">
            <select data-bind="options: users_available, value: user_selected, optionsText: 'username', optionsCaption: '<%= __t(locale, '20f780b43ad6af00a8c7ac81833311b1'/*select one ...*/) %>'"></select>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': (users().length + 2) + ' / ' + (users().length + 3) }" style="text-align: right">
             <a href="#" data-bind="click: cancel_user" title="<%= __t(locale, '22952fafd4cacf82adad93017f8ecbdb'/*cancel ...*/) %>">
                 <i class="fa fa-undo" aria-hidden="true"></i>
             </a>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': (users().length + 2) + ' / ' + (users().length + 3) }">
             <a href="#" data-bind="click: submit_user" title="<%= __t(locale, 'd58a9ad28ec2bf702ba02b53dc11ad08'/*add to the list ...*/) %>">
                 <i class="fa fa-arrow-up" aria-hidden="true"></i>
             </a>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>