<div class="sec-profile-panel">
    <div class="policy">
        <div>
            <label><%= __t(locale, '514f7ec865f0d147921509bebba849db'/*Security Profile:*/) %></label>
            <select data-bind="options: policies, value: curr_policy,
                               optionsText: 'label'"></select>
        </div>
        <div data-bind="visible: curr_policy">
            <!-- ko if: curr_policy -->
            <p data-bind="html: curr_policy().descr"></p>
            <!-- /ko -->
        </div>
    </div>
    <!-- ko if: curr_policy -->
    <!-- ko with: curr_policy -->
    <div class="title" style="grid-row: 2 / 3; grid-column: 1 / 2">
        <h4><%= __t(locale, 'a25bd37ead435cf1c1530464e0e8ce17'/*Allowed Endpoints*/) %></h4>
    </div>
    <div class="title" style="grid-row: 2 / 3; grid-column: 2 / 3">
        <h4><%= __t(locale, 'cc2762eb9ef04dae72d65bcf3e9c58af'/*Disallowed Endpoints*/) %></h4>
    </div>
    <div class="wlist" style="grid-row: 3 / 4; grid-column: 1 / 2">
        <div class="header" style="grid-column: 1 / 2">
            #
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, '6bb4d406451e3685e40319c445ae0352'/*Endpoint ID*/) %>
        </div>
        <div class="header" style="grid-column: 3 / 4">
            <%= __t(locale, 'b9f5c797ebbf55adccdd8539a65a0241'/*Disabled*/) %>
        </div>
        <div class="header" style="grid-column: 4 / 5">
            <a href="#" data-bind="click: add_allowed_ep" title="<%= __t(locale, '66e9a95e1cdd4f536669af3dacbfbf0a'/*Add an allowed endpoint ...*/) %>">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <!-- ko foreach: allowed_endpoints -->
        <div class="item" data-bind="css: { curr: is_current }, style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: id"></span>
        </div>
        <div class="item" data-bind="css: { curr: is_current }, style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: endpoint_id"></span>
        </div>
        <div class="item" data-bind="css: { curr: is_current }, style: { 'grid-column': '3' + '/ 4', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }" style="text-align: center">
            <input type="checkbox" data-bind="checked: disabled"></input>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <a href="#" data-bind="click: () => { remove() }" title="<%= __t(locale, '73398e4d22e434735b641c50e1b7945a'/*delete ...*/) %>">
                <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
            </a>
        </div>
        <!-- /ko -->
        <!-- ko if: adding_allowed_ep -->
        <div class="new-item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': (numb_allowed_endpoints() + 2) + ' / ' + (numb_allowed_endpoints() + 3) }">
            &nbsp;
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': (numb_allowed_endpoints() + 2) + ' / ' + (numb_allowed_endpoints() + 3) }">
            <select data-bind="options: allowed_availables, value: allowed_selected, optionsText: 'id', optionsCaption: '<%= __t(locale, '20f780b43ad6af00a8c7ac81833311b1'/*select one ...*/) %>'"></select>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': (numb_allowed_endpoints() + 2) + ' / ' + (numb_allowed_endpoints() + 3) }" style="text-align: right">
            <a href="#" data-bind="click: cancel_allowed_ep" title="<%= __t(locale, '22952fafd4cacf82adad93017f8ecbdb'/*cancel ...*/) %>">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </a>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': (numb_allowed_endpoints() + 2) + ' / ' + (numb_allowed_endpoints() + 3) }">
            <a href="#" data-bind="click: submit_allowed_ep" title="<%= __t(locale, 'd58a9ad28ec2bf702ba02b53dc11ad08'/*add to the list ...*/) %>">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </a>
        </div>
        <!-- /ko -->
        <div class="note">
            <!-- ko if: all_endpoints_allowed -->
            <p><%= __t(locale, '8b3f4a76b7d6b74372584eb282d241fa'/*All endpoints, except the ones in black list, are allowed.*/) %></p>
            <!-- /ko -->
        </div>
    </div>
    <div class="blist" style="grid-row: 3 / 4; grid-column: 2 / 3">
        <div class="header" style="grid-column: 1 / 2">
            #
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, '6bb4d406451e3685e40319c445ae0352'/*Endpoint ID*/) %>
        </div>
        <div class="header" style="grid-column: 3 / 4">
            <%= __t(locale, 'b9f5c797ebbf55adccdd8539a65a0241'/*Disabled*/) %>
        </div>
        <div class="header" style="grid-column: 4 / 5">
            <a href="#" data-bind="click: add_disallowed_ep" title="<%= __t(locale, '2d06ec0cb7a24d05d7746b08819b247b'/*Add a disallowed endpoint ...*/) %>">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <!-- ko foreach: disallowed_endpoints -->
        <div class="item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: id"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: endpoint_id"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }" style="text-align: center">
            <input type="checkbox" data-bind="checked: disabled"></input>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <a href="#" data-bind="click: () => { remove() }" title="<%= __t(locale, '73398e4d22e434735b641c50e1b7945a'/*delete ...*/) %>">
                <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
            </a>
        </div>
        <!-- /ko -->
        <!-- ko if: adding_disallowed_ep -->
        <div class="new-item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': (numb_allowed_endpoints() + 2) + ' / ' + (numb_allowed_endpoints() + 3) }">
            &nbsp;
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': (numb_disallowed_endpoints() + 2) + ' / ' + (numb_disallowed_endpoints() + 3) }">
            <select data-bind="options: disallowed_availables, value: disallowed_selected, optionsText: 'id', optionsCaption: '<%= __t(locale, '20f780b43ad6af00a8c7ac81833311b1'/*select one ...*/) %>'"></select>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': (numb_disallowed_endpoints() + 2) + ' / ' + (numb_disallowed_endpoints() + 3) }" style="text-align: right">
            <a href="#" data-bind="click: cancel_disallowed_ep" title="<%= __t(locale, '22952fafd4cacf82adad93017f8ecbdb'/*cancel ...*/) %>">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </a>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': (numb_disallowed_endpoints() + 2) + ' / ' + (numb_disallowed_endpoints() + 3) }">
            <a href="#" data-bind="click: submit_disallowed_ep" title="<%= __t(locale, 'd58a9ad28ec2bf702ba02b53dc11ad08'/*add to the list ...*/) %>">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </a>
        </div>
        <!-- /ko -->
    </div>
    <div class="title" style="grid-row: 4 / 5; grid-column: 1 / 2">
        <h4><%= __t(locale, 'b80023b610d679dd1f0c9374e9155453'/*Allowed Roles*/) %></h4>
    </div>
    <div class="roles" style="grid-row: 5 / 6; grid-column: 1 / 2">
        <div class="header" style="grid-column: 1 / 2">
            #
        </div>
        <div class="header" style="grid-column: 2 / 3">
            <%= __t(locale, 'c1228dde877833893394a57c585e90e4'/*Role Name*/) %>
        </div>
        <div class="header" style="grid-column: 3 / 4">
            <%= __t(locale, 'b9f5c797ebbf55adccdd8539a65a0241'/*Disabled*/) %>
        </div>
        <div class="header" style="grid-column: 4 / 5">
            <a href="#" data-bind="click: add_allowed_role" title="<%= __t(locale, '27a18f3688c7f30986616732e58d1fe2'/*Add an allowed role ...*/) %>">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <!-- ko foreach: roles -->
        <div class="item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: id"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <span data-bind="text: name"></span>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }" style="text-align: center">
            <input type="checkbox" data-bind="checked: disabled"></input>
        </div>
        <div class="item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': ($index() + 2) + ' / ' + ($index() + 3) }">
            <a href="#" data-bind="click: () => { remove() }" title="<%= __t(locale, '73398e4d22e434735b641c50e1b7945a'/*delete ...*/) %>">
                <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
            </a>
        </div>
        <!-- /ko -->
        <!-- ko if: adding_allowed_role -->
        <div class="new-item" data-bind="style: { 'grid-column': '1' + '/ 2', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }">
            &nbsp;
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '2' + '/ 3', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }">
            <select data-bind="options: allowed_role_availables, value: allowed_role_selected, optionsText: 'name', optionsCaption: '<%= __t(locale, '20f780b43ad6af00a8c7ac81833311b1'/*select one ...*/) %>'"></select>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '3' + '/ 4', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }" style="text-align: right">
            <a href="#" data-bind="click: cancel_allowed_role" title="<%= __t(locale, '22952fafd4cacf82adad93017f8ecbdb'/*cancel ...*/) %>">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </a>
        </div>
        <div class="new-item" data-bind="style: { 'grid-column': '4' + '/ 5', 'grid-row': (roles().length + 2) + ' / ' + (roles().length + 3) }">
            <a href="#" data-bind="click: submit_allowed_role" title="<%= __t(locale, 'd58a9ad28ec2bf702ba02b53dc11ad08'/*add to the list ...*/) %>">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </a>
        </div>
        <!-- /ko -->
        <div class="note">
            <!-- ko if: roles().length === 0 -->
            <p><%= __t(locale, '3ba09c515a97e5faa5407be2bbe2b2e4'/*All roles are allowed.*/) %></p>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko --><!-- with curr_policy -->
    <!-- /ko --><!-- if curr_policy -->
</div>