<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= __t(locale, '095afbf2f1f0e5be678f5dac5c54e717'/*Access Denied*/) %></title>
    <link href="/styles/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <div class="top-strip">
            <div class="content">
               <div class="item" style="grid-column: 1 / 2">
                   <a href="/"><%= __t(locale, '8cf04a9734132302f96da8e113e80ce5'/*Home*/) %></a>
               </div>
               <div class="item" style="grid-column: 2 / 3">
                   <a href="/help"><%= __t(locale, '6a26f548831e6a8c26bfbbd9f6ec61e0'/*Help*/) %></a>
               </div>
            </div>
        </div>
        <div class="page-container">
            <div class="content">
                <h1><%= __t(locale, '095afbf2f1f0e5be678f5dac5c54e717'/*Access Denied*/) %></h1>
                <h3><%= __t(locale, 'ccb168b5a6a86eb100dc2dee754a316b'/*Reason:*/) %> <%= reason %></h3>
                <% if (typeof msg !== 'undefined') { %>
                <p><%- msg %></p>
                <% } else if (typeof html_msg !== 'undefined') { %>
                <div><%- html_msg %></div>
                <% } %>
            </div>
            <div class="footer">
                <% include _footer.html %>
            </div>
        </div>
    </div>
</body>
</html>